<h1 mat-dialog-title>Audio</h1>
<div mat-dialog-content>
  <form class="example-form">
      <!-- <div class="img-section">
        <div class="uploadBtnContainer">
          <div class="coverImage">Image</div>
          <div class="upload-btn">
            <mat-icon class="uploadIcon">cloud_upload</mat-icon>
            <input accept="image/x-png,image/gif,image/jpeg" type="file" (change)="sendImageEvent($event)">
          </div>
        </div>
        
        <div *ngIf="audio.coverImage" class="imageUpload">
          <div (click)="removeImage()" class="cross_container">
            <span class="crossIcon"><mat-icon>cancel</mat-icon></span>
          </div>
          <img [src]="audio.coverImage">
        </div>
      </div> -->

        <div class="img-section">
          <div class="uploadBtnContainer">
            <div class="coverImage">Audio</div>
            <div class="upload-btn">
              <mat-icon class="uploadIcon">cloud_upload</mat-icon>
              <input multiple type="file" accept=".mp3,audio/*" (change)="uplaodAudiofile($event)">
            </div>
          </div>
          <div *ngIf="audioArr">
            <div *ngFor="let audio of audioArr; let i = index">
              <div *ngIf="audio?.url.name" class="audioUpload">
                <div (click)="removeAudioFromArray(i)" class="cross_audio_container">
                  <span class="crossIcon"><mat-icon>cancel</mat-icon></span>
                </div>
                <span>{{audio.title}}</span>
              </div>
            </div>
          </div>

          <div>
            <!-- <div *ngFor="let audio of audioArr; let i = index"> -->
              <div *ngIf="audio?.url" class="audioUpload">
                <div (click)="removeAudio()" class="cross_audio_container">
                  <span class="crossIcon"><mat-icon>cancel</mat-icon></span>
                </div>
                <span>{{audioTitle || audio.title}}</span>
              </div>
            <!-- </div> -->
          </div>
          
          <!-- <div *ngIf="audio.url" class="audioUpload">
            <div (click)="removeAudio(audio)" class="cross_audio_container">
              <span class="crossIcon"><mat-icon>cancel</mat-icon></span>
            </div>
            <span>{{audio.title}}</span>
          </div> -->
        </div>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input [disabled]="audioArr?.length > 1" [(ngModel)]="audio.title" matInput placeholder="Title"  name="title">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Chapter</mat-label>
      <input [(ngModel)]="audio.chapter" matInput placeholder="Chapter"  name="chapter">
    </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Category Level 1</mat-label>
          <mat-select [(ngModel)]="categoryOneId"
            (selectionChange)="changeCategoryOneName($event)" name="categoryOne">
            <mat-option *ngFor="let categoryOne of categoryOneAudioData" [value]="categoryOne.id">
              {{categoryOne.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Category Level 2</mat-label>
          <mat-select [disabled]="categoryTwoAudioData.length == 0" [(ngModel)]="categoryTwoId" (selectionChange)="changeCategoryTwoName($event)" name="categoryTwo">
            <mat-option *ngFor="let categoryTwo of categoryTwoAudioData" [value]="categoryTwo.id">
              {{categoryTwo.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Category Level 3</mat-label>
          <mat-select [disabled]="categoryThreeAudioData.length == 0" [(ngModel)]="categoryThreeId" (selectionChange)="changeCategoryThreeName($event)"
            name="categoryThree">
            <mat-option *ngFor="let categoryThree of categoryThreeAudioData"
              [value]="categoryThree.id">
              {{categoryThree.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Search keywords</mat-label>
          <input matInput [(ngModel)]="keyword" placeholder="New keyword..." [ngModelOptions]="{standalone: true}" />
          <button mat-stroked-button (click)="addKeyword()" matSuffix [disabled]="!keyword.length">Add</button>
        </mat-form-field>
        <mat-chip-list>
          <mat-chip *ngFor="let keywordItem of audio.keywords" (removed)="removeKeyword(keywordItem)">
            {{keywordItem}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>

  </form>
</div>
<div mat-dialog-actions style="display: flex;justify-content: flex-end;gap: 6px;">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial [disabled]="!categoryTwoId && !categoryOneId && !categoryThreeId" (click)="saveAudio($event)">Save</button>
</div>

<div *ngIf="showLoader" class="spinnerContainer">
  <div class="absoluteSpinner"></div>
  <sa-spinner-round-filled color="#7366FF" id="loader"></sa-spinner-round-filled>
</div>