<h1 mat-dialog-title>Event</h1>
<div mat-dialog-content>
  <form class="example-form">
    <div class="img-section">
      <div class="uploadBtnContainer">
        <div class="coverImage">Image</div>
        <div class="upload-btn">
          <mat-icon class="uploadIcon">cloud_upload</mat-icon>
          <input accept="image/x-png,image/gif,image/jpeg" type="file" (change)="sendImageEvent($event)">
        </div>
      </div>
      
      <div *ngIf="event.coverImage" class="imageUpload">
        <div (click)="removeImage()" class="cross_container">
          <span class="crossIcon"><mat-icon>cancel</mat-icon></span>
        </div>
        <img [src]="event.coverImage">
      </div>
    </div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Author" [(ngModel)]="event.title" name="author">
    </mat-form-field>
    <!-- <mat-form-field class="example-full-width" appearance="fill"> -->
      <mat-label>Content</mat-label>
      <!-- <input matInput placeholder="Content" [(ngModel)]="event.content" name="content"> -->
      <textarea placeholder="Content" [(ngModel)]="event.content" name="content" id="" cols="30" rows="6"></textarea>
    <!-- </mat-form-field> -->

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Event Link</mat-label>
      <input matInput placeholder="Event Link" [(ngModel)]="event.eventLink" name="eventLink">
    </mat-form-field>

      <div class="example-full-width" style="display: flex; column-gap: 20px;">
        <mat-label>Show Donation</mat-label>
        <mat-slide-toggle [ngModelOptions]="{standalone: true}" (change)="onChangeDonationAllowed($event.checked)"
          [(ngModel)]="event.donationAllowed">Active</mat-slide-toggle>
      </div>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Event date</mat-label>
          <input style="width: 90%;" matInput [matDatepicker]="dob" disabled [(ngModel)]="event.date"
            [ngModelOptions]="{standalone: true}">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="dob"></mat-datepicker-toggle>
          <mat-datepicker #dob disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width">
          <mat-label>Search keywords</mat-label>
          <input matInput [(ngModel)]="keyword" placeholder="New keyword..." [ngModelOptions]="{standalone: true}" />
          <button mat-stroked-button (click)="addKeyword()" matSuffix [disabled]="!keyword.length">Add</button>
        </mat-form-field>
        <mat-chip-list>
          <mat-chip *ngFor="let keywordItem of event.keywords" (removed)="removeKeyword(keywordItem)">
            {{keywordItem}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-list>

  </form>
</div>
<div mat-dialog-actions style="display: flex;justify-content: flex-end;gap: 6px;">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="saveEvent($event)">Save</button>
</div>
<div *ngIf="showLoader" class="spinnerContainer">
  <div class="absoluteSpinner"></div>
  <sa-spinner-round-filled color="#7366FF" id="loader"></sa-spinner-round-filled>
</div>