@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Poppins',sans-serif;
}

body {
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px !important;
  font-family: 'Outfit', sans-serif !important;
  padding: 10px;
  // background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  z-index: 999;
  padding: 4px 15px;
  place-items: center;
  right: 0;
  left: 0;
  background: linear-gradient(90deg, #C0AFE9 0%, #7761AC 82.6%);
  ;
  display: flex;
  color: white;
  flex-direction: row;
  justify-content: space-between;


  .logo {
    object-fit: contain;
    width: 80px;

    @media(max-width: 600px) {
      width: 48px !important;
    }

  }
}

.background_img_container {
  position: absolute;

  left: 0;
  top: 0px;
  right: 0;

  @media(max-width: 600px) {
    // top: 43px !important;
  }

}

.back_img img {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  clip-path: ellipse(65% 66% at 50% 31%);
  height: 280px;
      object-fit: cover;
  width: 100%;

  @media(max-width: 600px) {
    height: 244px !important;
  }

  @media(max-width: 500px) {
    clip-path: ellipse(65% 66% at 50% 29%);
        height: 216px !important;
    // height: 174px !important;
  }

}

.img_container {
  position: absolute;
  left: 50%;
  top: 213px;
  transform: translate(-50%, -50%);
  display: none;

  @media(max-width: 600px) {
    top: 174px !important;
  }

  @media(max-width: 430px) {
    // clip-path: ellipse(72% 66% at 50% 29%);
    top: 108px !important;
  }

  img {
    position: absolute;
    left: 50%;
    width: 120px;
    transform: translateX(-50%);


  }
}

.opacity {
  position: absolute;
  right: 0;
  top: 0px;
  left: 0;
  // -webkit-clip-path: ellipse(66% 65% at 48% 24%);
  clip-path: ellipse(66% 66% at 50% 29%);
  height: 280px;
  width: 100%;
// background: linear-gradient(90deg, rgb(192 175 233 / 51%) 0%, rgb(119 97 172 / 55%) 61%);

  @media(max-width: 600px) {
    height: 244px !important;
  }

  @media(max-width: 500px) {
    clip-path: ellipse(65% 66% at 50% 29%);
      height: 197px !important;
    // height: 174px !important;
  }
}

.container {
  max-width: 1366px;
  width: 100%;
  margin-top: 377px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;

  @media(max-width: 600px) {
    padding: 0px !important;
    margin-top: 320px;
  }

  @media(max-width: 500px) {
    // padding: 0px !important;
    margin-top: 211px !important;
  }
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  position: relative;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
  // border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 100%;
  margin: 14px 0;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three,
#dot-4:checked~.category label .four,
#dot-5:checked~.category label .five,
#dot-6:checked~.category label .six,
#dot-7:checked~.category label .seven,
#dot-8:checked~.category label .eight {
  background: #9b59b6;
  border-color: #d9d9d9;
}

//  form input[type="radio"]{
//    display: none;
//  }
form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  //  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
  // background: linear-gradient(90deg, #C0AFE9 0%, #7761AC 82.6%);
  background: #9C5AB1;
  border-radius: 8px;
}

form .button input:hover {
  /* transform: scale(0.99); */
  // background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user-details .input-box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .category {
    width: 100%;
  }

  .content form .user-details {
    max-height: 307px;
    overflow-y: scroll;
  }

  .user-details::-webkit-scrollbar {
    width: 5px;
  }
}

@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}

.amount_badges {}

input[type="radio"][value="text"]:checked {
  display: none;
}

input[type="radio"]:checked {
  display: none;
}

input[type="radio"] {
  display: none;
}

.gender {
  // font-family: sans-serif;
}

.amount_label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5em;
  width: 100%;
  /* justify-content: space-around; */
}

.amt_badge {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  width: 88px;
  text-align: center;
  color: white;
  cursor: pointer;
  background: rgba(17, 112, 114, 1);
  box-shadow: 0px 4px 0px rgb(17 112 114 / 78%);
  border-radius: 30px;
  padding: 8px 0px;

  // @media(max-width: 370px) {
  //   width: 28% !important;
  //   font-size: 12px;
  //   width: 28% !important;
  //   font-size: 12px;
  // }

}

.disable_btn {
  opacity: 0.5;
}

.enable_btn {
  opacity: 1;
}

.name_error {
  width: 90%;
  top: 3px;
  color: red;
  position: relative;
  font-size: 13px;
  /* padding: 4px 18px; */
  padding-bottom: 0px;
  left: 17px;
}

.disable_btn {
  opacity: 0.5;
}

.enable_btn {
  opacity: 1;
}

.name_error {
  width: 90%;
  top: 3px;
  color: red;
  position: relative;
  font-size: 13px;
  /* padding: 4px 18px; */
  padding-bottom: 0px;
  left: 17px;
}
.all_amount{
  display: flex;
}

.err{
  font-size: 12px;
    color: red;
}

.spinnerContainer {
  .absoluteSpinner {
    position: absolute;
    height: 110vh;
    top: 0;
    right: 0;
    z-index: 999;
    left: 0;
    // backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.186);
  }

  #loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.loaderText{
  position: absolute;
  top: 55%;
  left: 50%;
  width: 286px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-family: sans-serif;
}