<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092143369876-0m75g21e42ag0jt1sfu5a1t03h1v32se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092143369876-0m75g21e42ag0jt1sfu5a1t03h1v32se</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1092143369876-422nvgnocqn01kgcg7lekg8l2u0ijflp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM1Cbnjl7uaCZtYgTVqONHAouJgafXFog</string>
	<key>GCM_SENDER_ID</key>
	<string>1092143369876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iskcon.pb</string>
	<key>PROJECT_ID</key>
	<string>bwi-iskon-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>bwi-iskon-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092143369876:ios:55d328c6ae572e53a92e81</string>
</dict>
</plist>