.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;

    .img-section {
        display: flex;
        align-items: flex-end;
        margin-bottom: 12px;

        img {
            max-width: 200px;
            border-radius: 12px;
        }

        .upload-btn {
            position: relative;
            background: #7366ff;
            color: white;
            padding: 4px 16px;
            height: fit-content;
            width: fit-content;
            border-radius: 4px;
            margin-left: 8px;

            input {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
            }
        }
    }

}
      
.example-full-width {
    width: 100%;
}

.location-btn {
    color: #7366ff;
    background: rgba(115, 102, 255, 0.08);
    border-color: rgba(115, 102, 255, 0.08);

    i{font-size: 16px;margin-right: 3px;margin-bottom: 2px;}

    &:hover {
        background: rgba(115, 102, 255, 0.9);
        border-color: rgba(115, 102, 255, 0.9);
        color: white;
    }
}