<h1 mat-dialog-title>Subscription</h1>
<div mat-dialog-content>
  <form class="example-form">
    <!-- <p>{{data.subscription.date.seconds * 1000 | date:'MM-dd-yyyy'}}</p> -->
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Subscription</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="subscription.name" name=" name">
      <!-- <textarea rows="4" matInput placeholder="Subscription Name" [(ngModel)]="subscription.name" name="subscription"></textarea> -->
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Amount</mat-label>
        <input min="0" type="number" matInput placeholder="Amount" [(ngModel)]="subscription.amount" name="amount">
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions style="display: flex;justify-content: flex-end;gap:8px;">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button cdkFocusInitial (click)="saveSubscription($event)">Save</button>
</div>

<div *ngIf="showLoader" class="spinnerContainer">
  <div class="absoluteSpinner"></div>
  <sa-spinner-round-filled color="#7366FF" id="loader"></sa-spinner-round-filled>
</div>