.enquiry-box{
    min-width: 500px;
    max-width: 500px;
    width: 100%;
}
mat-label{
    font-size: 16px;
    font-weight: 500;
    color: #6254f7;
}
.close-dialog{
    
    display: flex;
    justify-content: space-between;
    align-items: baseline;
mat-icon{
    cursor: pointer;
}
mat-icon:hover{
    color: #6254f7;
}
}